* {
   text-align: left;
} 

p {
    text-align: justify;
}

h2, h3, h4 {
    display: inline;
    cursor: pointer;
    margin-right: 0.5em;
}

h2, h3, h4, img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
}

details > details {
    margin-left: 1em;
}

.clear {
    clear: both;
}

.code-snippet {
    width: 100%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-bottom: -0.5em;
    background-color: lightgray;
    border-radius: 5px 5px 0 0;
}

.code-snippet > a {
    position: relative;
    display: block;
    color: transparent;
    select:none;
}

.code-snippet > a:focus {
    outline: none;
}

.code-snippet:not(.no-link):hover {
    background-color: lightblue;
    cursor: pointer;
}

.code-snippet::before {
    position: absolute;
    content: attr(csname) ".cs " url(box-arrow-up-right.svg);
    margin-left: 1em;
    color: #555;
    font-family: monospace;
    font-weight: bold;
}

.no-link::before {
    content: attr(csname) ".cs";
}

.image-container {
    float: right;
}

@media (max-width: 599px) {
    .image-container {
        float: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.inline-left, .inline-right {
    display: block;
    width: 300px;
    margin-top: 0.2em;
    margin-bottom: 0;
}

@media (min-width: 600px) {

    .inline-left {
        margin-right: 1em;
        margin-left: 1px;
    }

    .inline-right {
        margin-left: 1em;
        margin-right: 1px;
    }
}

.banner, details img:not(.copy), .video {
    border-radius: 8px;
    outline: #666 solid 1px;
    background-color: #666;
}

.video {
    aspect-ratio: 16 / 9;
    display: block;
    overflow: hidden;
    padding-bottom: -50px;
}

.centered {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.wide {
    width: calc(100% - 2px);
    margin-bottom: 1em;
}

.banner {
    aspect-ratio: 10 / 3;
    overflow: hidden;
}

.banner > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shadow {
    /* box-shadow: 0px 0px 5px #4444; */
}

.copy {
    display: none;
    position: absolute;
    filter:opacity(35%);
    transform: translateY(10%);
}

h2 + .copy { height: 1.5em; }
h3 + .copy { height: 1.375em; }
h4 + .copy { height: 1.25em;}
h5 + .copy { height: 1.125em; }
h6 + .copy { height: 1em; }

summary:hover .copy {
display: inline;
}

@media (max-width:768px) {
    details[open] > summary > .copy {
        display: inline;
    }
    .copy {
        right: 0;
    }
}

summary img:hover {
    filter:opacity(100%);
}